@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./fonts/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

.App {
  header{
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .arrow{
      background-image: url(/back-arrow.svg);
      width: 38px;
      height: 15px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
    h1{
      padding: 0 6px;
      justify-content: center;
    }
    .hidden{
      font-size: 0;
      width: 38px;
    }
  }
  background-color: white;
  text-align: center;
  width: 100%;
  max-width: 425px;
  padding: 20px 0;
  border-radius: 40px;
  p{
    margin-bottom: 0;
  }
  .user-card-container{
    margin-top: 10px;
    list-style: none;
    padding: 0;
    li{
      padding: 10px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(196, 196, 196, 0.6);
      .image-container{
        img{
          border-radius: 100%;
        }
      }
      .user-card--title{
        margin-left: 10px;
        .name{
          text-transform: uppercase;
          font-size: 14px;
          text-align: left;
          font-weight: 600;
        }
        .company{
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
  .fixed-bottom{
    padding: 15px;
    background: white;
    box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.05);
    .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .user-icon{
        background-image: url(/user.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 8px;
      }
      &.btn-primary{
        background-color: #83CDEC;
        border-radius: 35px;
      }
    }
  }
  .nav-tabs{
    margin-bottom: 15px;
    .nav-link{
      font-weight: 600;
    }
  }
}

body{
  font-family: 'NunitoSans' !important;
  color: #636363;
  h1{
    font-family: 'Poppins' !important;
    font-size: 16px;
  }
}

// override default Bootstrap style

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: #E0E0E0 !important;
  background-color: #fff !important;
  border: none !important;
  border-bottom: 3px solid #E0E0E0 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #64B3D5 !important;
  background-color: #fff !important;
  border: none !important;
  border-bottom: 3px solid #64B3D5 !important;
}