@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./fonts/NunitoSans-Regular.ttf) format('truetype');
}

.App {
  background-color: white;
  text-align: center;
  width: 100%;
  max-width: 425px;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 40px;
  p{
    margin-bottom: 0;
  }
  .user-card-container{
    margin-top: 10px;
    list-style: none;
    padding: 0;
    li{
      padding: 10px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(196, 196, 196, 0.6);
      .image-container{
        img{
          border-radius: 100%;
        }
      }
      .user-card--title{
        margin-left: 10px;
        .name{
          text-transform: uppercase;
          font-size: 14px;
          text-align: left;
          font-weight: 600;
        }
        .company{
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
  
}

body{
  background-color: #E5E5E5;
  font-family: 'NunitoSans' !important;
  color: #636363;
}